<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/javago/">
      <img src="{{'/assets/img/logo.png' | prepend: site.baseurl | replace: '//', '/'}}" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        {% for item in site.data.navbar %}
        <li class="nav-item">
          <a class="nav-link" href="{{item.link | prepend: site.baseurl }}">{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
